{
	"ServerID":1,
	"IsRealese":false,
	"LogDir":"./log",
	"LogLevel":4,
	"GatewayPort":12317,
	"PProfPort":6060,
	"MaxOnlineNum":10000,
	"DBAddrIP":"192.168.56.101",
	"DBAddrPort":27017,
	"DBName":"tt_game",
	"DBUser":"admin",
	"DBPassword":"123456",
	"LoginAuthKey":"jiash0jsa&XS%KSGIKHIGH",
	"HeadLen":2,
	"MsgIDLen":2,
	"MaxDataLen":1024,
	"ConsoleAddr":"127.0.0.1:12314"
}