{
	"ServerID":1,
	"IsRealese":false,
	"LogDir":"",
	"LogLevel":3,
	"GatewayPort":12317,
	"PProfPort":6060,
	"MaxOnlineNum":10000,
	"DBAddrIP":"127.0.0.1",
	"DBAddrPort":27017,
	"DBName":"gtserver",
	"DBUser":"admin",
	"DBPassword":"123456",
	"LoginAuthKey":"jiash0jsa&XS%KSGIKHIGH",
	"HeadLen":2,
	"MsgIDLen":2,
	"MaxDataLen":1024,
	"ConsoleAddr":"127.0.0.1:12314",
	"MsgMaxSpeedSec":3,
	"MsgMaxSpeedNum":300,
	"MsgMaxSpeedLager":3
}