[{"Level":1,"MaxExp":100},
{"Level":2,"MaxExp":200},
{"Level":3,"MaxExp":300},
{"Level":4,"MaxExp":400},
{"Level":5,"MaxExp":500},
{"Level":6,"MaxExp":600},
{"Level":7,"MaxExp":700},
{"Level":8,"MaxExp":800},
{"Level":9,"MaxExp":900},
{"Level":10,"MaxExp":1000},
{"Level":11,"MaxExp":1100},
{"Level":12,"MaxExp":1200},
{"Level":13,"MaxExp":1300},
{"Level":14,"MaxExp":1400},
{"Level":15,"MaxExp":1500},
{"Level":16,"MaxExp":1600},
{"Level":17,"MaxExp":1700},
{"Level":18,"MaxExp":1800},
{"Level":19,"MaxExp":1900},
{"Level":20,"MaxExp":2000},
{"Level":21,"MaxExp":2100},
{"Level":22,"MaxExp":2200},
{"Level":23,"MaxExp":2300},
{"Level":24,"MaxExp":2400},
{"Level":25,"MaxExp":2500},
{"Level":26,"MaxExp":2600},
{"Level":27,"MaxExp":2700},
{"Level":28,"MaxExp":2800},
{"Level":29,"MaxExp":2900},
{"Level":30,"MaxExp":3000},
{"Level":31,"MaxExp":3100},
{"Level":32,"MaxExp":3200},
{"Level":33,"MaxExp":3300},
{"Level":34,"MaxExp":3400},
{"Level":35,"MaxExp":3500},
{"Level":36,"MaxExp":3600},
{"Level":37,"MaxExp":3700},
{"Level":38,"MaxExp":3800},
{"Level":39,"MaxExp":3900},
{"Level":40,"MaxExp":4000},
{"Level":41,"MaxExp":4100},
{"Level":42,"MaxExp":4200},
{"Level":43,"MaxExp":4300},
{"Level":44,"MaxExp":4400},
{"Level":45,"MaxExp":4500},
{"Level":46,"MaxExp":4600},
{"Level":47,"MaxExp":4700},
{"Level":48,"MaxExp":4800},
{"Level":49,"MaxExp":4900},
{"Level":50,"MaxExp":5000},
{"Level":51,"MaxExp":5100},
{"Level":52,"MaxExp":5200},
{"Level":53,"MaxExp":5300},
{"Level":54,"MaxExp":5400},
{"Level":55,"MaxExp":5500},
{"Level":56,"MaxExp":5600},
{"Level":57,"MaxExp":5700},
{"Level":58,"MaxExp":5800},
{"Level":59,"MaxExp":5900},
{"Level":60,"MaxExp":6000},
{"Level":61,"MaxExp":6100},
{"Level":62,"MaxExp":6200},
{"Level":63,"MaxExp":6300},
{"Level":64,"MaxExp":6400},
{"Level":65,"MaxExp":6500},
{"Level":66,"MaxExp":6600},
{"Level":67,"MaxExp":6700},
{"Level":68,"MaxExp":6800},
{"Level":69,"MaxExp":6900},
{"Level":70,"MaxExp":7000},
{"Level":71,"MaxExp":7100},
{"Level":72,"MaxExp":7200},
{"Level":73,"MaxExp":7300},
{"Level":74,"MaxExp":7400},
{"Level":75,"MaxExp":7500},
{"Level":76,"MaxExp":7600},
{"Level":77,"MaxExp":7700},
{"Level":78,"MaxExp":7800},
{"Level":79,"MaxExp":7900},
{"Level":80,"MaxExp":8000},
{"Level":81,"MaxExp":8100},
{"Level":82,"MaxExp":8200},
{"Level":83,"MaxExp":8300},
{"Level":84,"MaxExp":8400},
{"Level":85,"MaxExp":8500},
{"Level":86,"MaxExp":8600},
{"Level":87,"MaxExp":8700},
{"Level":88,"MaxExp":8800},
{"Level":89,"MaxExp":8900},
{"Level":90,"MaxExp":9000},
{"Level":91,"MaxExp":9100},
{"Level":92,"MaxExp":9200},
{"Level":93,"MaxExp":9300},
{"Level":94,"MaxExp":9400},
{"Level":95,"MaxExp":9500},
{"Level":96,"MaxExp":9600},
{"Level":97,"MaxExp":9700},
{"Level":98,"MaxExp":9800},
{"Level":99,"MaxExp":9900},
{"Level":100,"MaxExp":10000}]